* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #201e1ee3;
    height: auto;
    padding: 100px;
}

.container {
    width: 250px;
    height: 350px;
    background-color: rgb(62 57 57);
    box-shadow: 0px 0px 5px 5px #676767;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    float: left;
}

.card {
    position: relative;
    background: linear-gradient(90deg, #5a5a5a 50%, #535151 50%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: .5s;
}

.container:hover .card {
    transform: translateY(-50px);
}

.container:hover .text {
    color: white;
}

.number {
    opacity: 0.3;
    color: white;
    font-size: 130px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.text {
    text-align: center;
    color: #ffffffab;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    top: 55px;
    padding: 17px;
    line-height: 25px;
    font-family: sans-serif;
}

.text h2 {
    margin: 10px;
}

.readmore {
    text-align: center;
    position: relative;
    border-radius: 20px;
    background: #2196f3;
    width: 80px;
    padding: 10px;
    left: 70px;
    bottom: -55px;
}

.r2 {
    background: #e91e63;
}

.r3 {
    background: #97dc47;
}